:root {
  --color_primary: #3d80a5;
  --color_secondary: rgb(42, 42, 43);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color_primary);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--color_secondary);
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
}
li a {
  text-decoration: none;
  font-weight: 700;
  color: var(--color_primary);
}
#icon_page {
  height: 100px;
  padding: 5px;
}
