@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color_primary: #3d80a5;
  --color_secondary: #2c2928;
  --color_paleta: #f7ebe8;
  --color_2_paleta: #ffa987;
  --color_3_paleta: #8cba80;
  --color_4_paleta: #f5e663;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: var(--color_secondary);
}
body {
  background-color: var(--color_primary);
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--color_secondary);
}
.navbar i {
  font-size: 24px;
  color: var(--color_primary);
}
#hamburger {
  font-size: 40px;
  color: var(--color_primary);
  padding-right: 20px;
  display: none;
}
#menu_toggle {
  display: none;
}
.navbar_list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
}
.navbar_link {
  text-decoration: none;
  font-weight: 700;
  color: var(--color_primary);
}
#icon_page_pink {
  height: 80px;
  padding: 5px;
  display: none;
}
#icon_page {
  height: 80px;
  padding: 5px;
  display: inline;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 2em;
  text-align: center;
}
.hero__title {
  margin-top: 50px;
  padding-left: 25px;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 900;
  /* color: var(--color_secondary); */
}
.hero__title p {
  font-size: 18px;
  text-align: center;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--color_secondary);
  margin-top: 20px;
}
.hero__btn a {
  text-decoration: none;
  color: var(--color_primary);
}
.hero__image {
  margin-top: 50px;
  width: 60%;
}
.hero__image img {
  width: 750px;
}
.hero_image_movil {
  display: none;
}
.hero__image_table {
  display: none;
  height: calc(100vh - 120px);
}
.about__container {
  width: 100%;
  height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__image img {
  width: 300px;
}
.about__info {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px;*/
  text-align: center;
  font-weight: 700;
  /* color: var(--color_secondary); */
}
.about__info h3 {
  font-size: 2em;
  padding-bottom: 5px;
}

.cards_container {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.cards_title {
  /* color: var(--color_secondary); */
  font-size: 1.5em;
}
.cards_price_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}
.cards_price {
  width: 400px;
  height: 550px;
  border: solid 3px black;
  border-radius: 100px;
  /* box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color_secondary);
  gap: 4px;
  font-weight: 700;
}
.cards_price:hover {
  /* box-shadow: 0 0.1rem 0.4rem black; */
  box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 19px 5px -5px rgba(0, 0, 0, 0.75);
}
.servicio {
  border: solid 3px var(--color_2_paleta);
  background-color: var(--color_2_paleta);
  font-size: 1em;
  display: flex;
}
.tachado {
  text-decoration: line-through;
}
.cards_price p {
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.2em;
}
.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--color_primary);
  border-radius: 50%;
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  color: white;
}
.catalogo {
  border: solid 3px var(--color_4_paleta);
  background-color: var(--color_4_paleta);
  font-size: 1em;
  display: flex;
}
.tienda {
  border: solid 3px var(--color_3_paleta);
  background-color: var(--color_3_paleta);
  font-size: 1em;
  display: flex;
}

.contact_container {
  width: 100%;
  height: 100vh;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 200px;
}
.contact_map {
  display: flex;
}
.contact_map iframe {
  width: 500px;
  height: 250px;
}

.contact_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* color: var(--color_secondary); */
  text-align: center;
}
.contact_info i {
  font-size: 24px;
  color: var(--color_secondary);
}
.social_icons {
  display: flex;
  gap: 25px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: var(--color_secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.footer span {
  color: var(--color_primary);
}
.footer img {
  height: 80px;
}

@media (max-width: 992px) {
  .navbar_list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--color_secondary);
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color_2_paleta);
    transform: translateX(-100%);
    transition: all 1.2s ease;
  }

  .hero__image {
    display: none;
  }
  .hero__image_table {
    display: flex;
    min-height: 400px;
  }
  #hamburger {
    display: flex;
  }
  .contact_container {
    flex-direction: column;
  }
  .cards_price_container {
    flex-direction: column;
  }
  #menu_toggle:checked ~ .navbar_list {
    transform: translateX(0%);
  }
}
@media (max-width: 650px) {
  .hero__image_table {
    display: none;
  }
  .hero_image_movil {
    display: flex;
  }
  .about__image {
    display: none;
  }
  .contact_map iframe {
    width: 320px;
    height: 200px;
  }
  .hero__title {
    padding-left: 35px;
  }
}
@media (max-width: 520px) {
  .hero__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cards_price {
    width: 320px;
  }
}
